:host::ng-deep
.casos{
  background-color:#b0efeb;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
:host ::ng-deep
.mortos{
  background-color:#ff9a8c;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
:host ::ng-deep
.suspeitos{
  background-color: #edffa9;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
:host ::ng-deep
.recuperados{
  background-color: #2978b5;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
